*
!.gitconfig
!.gitignore
!.ideavimrc
!*com.googlecode.iterm2.plist
!.iterm.preferences
!.hosts
!.tmux.conf
!.tmux.conf.local
!.vimrc
!.vimrc.bundles
!.vimrc.bundles.local
!.vimrc.local
!.zcompdump
!.zshrc
